@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {

}
a, a:visited {
  color: #00aae9;
}
.reveal h1 {
  font-family: 'Proxima Nova', 'Open Sans', sans-serif;
  text-transform: none;
  color: #00aae9;
  line-height: 1em;
}
.reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'Proxima Nova', 'Open Sans', sans-serif;
  text-transform: none;
  font-weight: 400;
}

.reveal h4 {
  font-size: .8em;
  padding: .3em 1em;
  background: rgba(0,136,186,.95);
  color: white;
  border-radius: 3px;
  display: inline-block;
}

.reveal h4 a {
  color: white;
}

.reveal section img {
  border: 2px solid lightgrey;
}

.gp-menu {
  display: none;
} 

.footer {
  font-size: 2em;
}
/* #notification {
  display: none;
} */

.toc-title, .toc-title p {
  display: none;
}

img[src$='#float-right'] { float:right;}

.list-float-left {
  width: 40%;
  float: left;

}

.list-float-left li {
  font-size: .8em;
  margin-bottom: 1.1em;
}



