@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* @import url('https://fonts.googleapis.com/css?family=Lora'); */
body {
  color: rgb(0,136,186);
}
a, a:visited {
  color: #00aae9;
}
.reveal h1 {
  font-family: 'Proxima Nova', 'Open Sans', sans-serif;
  text-transform: none;
  color: #00aae9;
  line-height: 1em;
  font-size: 2.2em;
}
.reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'Proxima Nova', 'Open Sans', sans-serif;
  text-transform: none;
  font-weight: 400;
}
.reveal h2 {
  /* font-family: Lora, sans-serif; */
  font-size: 1em;
  color: rgb(63, 63, 63);
}
.reveal h3 {
  font-size: .9em;
  padding: .3em 1em;
  background: rgba(0,136,186,.95);
  color: white;
  border-radius: 3px;
  display: inline-block;
  max-width: 66%;
}

.reveal h3 a {
  color: white;
}

.reveal section img {
  border: 2px solid lightgrey;
}

.gp-menu {
  /* display: none; */
} 

.toc-title, .toc-title p {
  display: none;
}

.reveal li {
  font-size: .7em;
  margin-bottom: .7em;
  color: #008abc;
}

.reveal ol.roman {
  list-style-type: upper-roman;
}

.reveal ul.icon-list {
  list-style-type: none;
  list-style-position: outside;
}

.fa-green {
  color: #01aa46;
}

.fa-red {
  color: #dc2b28;
}



